
/*
    The css for everything in the site
*/

html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
    background-color: #abcdd6;
}

navbar {
    background-color: #536793;
    border-color: none;
}

* {
    font-family:'Source Sans Pro';
}

.card {
    background-color: #7e9dab;
    margin-bottom: 10px;
}

.card-header {
    background-color: #536793;
    width: 100%;
}

#likeformContainer {
    display: flex;
}

#likeformContainer form {
    margin-right: 15px;
}

#likeformContainer p {
    margin-right: 3px;
}

