@model IEnumerable<SocialMediaMovieReviews.Models.ApplicationUser>

@{
    ViewData["Title"] = "Index";
}

<body>
    <h1>Search Accounts</h1>

    <div class="flex-container">
        <ul>
        @foreach (var user in Model)
        {
            <li><a asp-controller="Accounts" asp-action="User" asp-route-username="@user.UserName">@user.UserName</a></li>

        }
        </ul>
    </div>
</body>